

@import 'vars.scss';
.contact-header{
    padding-top: 0;
}
.address-mobile{
    display: none;
}

.contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    .contact-section1{
        display: flex;
        margin-top: 100px;
        .form{
            margin-right: 150px;
            h2{
                font-size: 48px;
                line-height: 56px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            a{
                font-size: 15px;
                line-height: 28px;
                font-weight: bold;
                margin-bottom: 55px;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 55px;
                input{
                    display: block;
                    border: 0;
                    outline: 0;
                    font-size: 17px;
                    color: $dark;
                    width: 525px;
                    margin-bottom: 50px;
                    border-bottom: 2px solid $grey;
                    background-color: transparent;
                    padding: 0 10px 10px 0;
                    transition: .4s;
                    &::placeholder{
                        color: $grey;
                        font-size: 17px;
                    }
                    &:hover{
                        border-color: $dark;
                    }
                    &:invalid:not(:placeholder-shown){
                        border-color: #F45B53;
                    }
                    &:valid:not(:placeholder-shown){
                        border-color: #41CE7F;
                    }
                    &:focus{
                        border-color: $blue;
                    }


                }
                textarea{
                    resize: none;
                    width: 100%;
                    border: 0;
                    display: block;
                    box-sizing: border-box;
                    outline: 0;
                    font-size: 17px;
                    color: $dark;
                    border-bottom: 2px solid $grey;
                    transition: .4s;
                    &::placeholder{
                        color: $grey;
                    }
                    &:hover{
                        border-color: $dark;
                    }
                    &:invalid:not(:placeholder-shown){
                        border-color: #F45B53;
                    }
                    &:valid:not(:placeholder-shown){
                        border-color: #41CE7F;
                    }
                    &:focus{
                        border-color: $blue;
                    }
                }
                .ajax-button{
                    align-self: flex-start;
                }
                .button{
                    background-color: #fff;
                    border-color: $dark;
                    color: $dark;
                    cursor: pointer;
                    svg path{
                        stroke: $dark;
                    }
                    &:hover{
                        background-color: $dark;
                        color: white;
                        svg path{
                            stroke: white;
                        }
                    }
                    &.loading{
                        &:hover{
                            background-color: #fff !important;
                        }
                    }
                }


            }

        }
    }
    .contact-section2{
        display: flex;
        margin-bottom: 100px;
        margin-top: 140px;
        .map-side{
            margin-right: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .adresses-row{
            display: flex;
            &:not(:last-child){
                margin-bottom: 75px;
            }
            .address:nth-child(2){
                margin-left: 40px;
            }
        }
    }
    .mobile-none-address.address200{
        margin-left: 40px;
    }
    .address{
        width: 300px;

        line-height: 40px;
        font-size: 20px;

        a {
            text-decoration: underline;

        }

        h5{
            font-size: 17px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    .address-row1-russia{
        display: none;
    }
    .address-row2-neth{
        display: none;
    }
    .address-map-israel{
        display: none;
    }
    .contact-india{
        margin-top: 255px;
        margin-bottom: 0;
        width: 250px;
        &:last-child{
            width: 220px;
        }
    }
}

.contacts-map{
    display: flex;
    align-self: start;
    justify-content: space-around;
    width: 100%;    
    
}
@media only screen and (max-width: 1400px) {
    .contact-main{
        .contact-section1{
            .form{
                form{
                    input{
                        width: 590px;
                    }
                }
            }
            .form{
            margin-right: 50px;
            }
        }
        .contact-image{
            img{
                width: 600px;
            }
        }
        .contact-section2{
            .map-side{
                .map-image img{
                    width: 600px;
                }
                .contact-india{
                    margin-top: 24px;
                }
            }
            .adresses{
                .address200{
                    width: 200px;
                    p{
                        width: 200px;
                    }
                }

            }
        }
    }
}
@media only screen and (max-width: 1280px) {
    .contact-main{
        .contact-section1{
            margin-top: 100px;
            .form{
                width: 450px;
                h2{
                    font-size: 36px;
                    line-height: 55px;
                    margin-bottom: 50px;
                }
                a{
                    font-size: 15px;
                    line-height: 28px;
                    font-weight: bold;
                    margin-bottom: 55px;
                }
                form{
                    input{
                        width: 100%;
                        box-sizing: border-box;
                    }
                    button{
                        font-size: 14px;
                        &.loading{
                            font-size: 0 !important;
                        }
                    }
                }
            }
            .contact-image{
                width: 450px;
                height: 660px;
                position: relative;
                overflow: hidden;
                img{
                    min-height:100%;
                    position: absolute;

                    left: 50%;
                    transform: translate(-50%);
                    width: 578px;
                }
            }
        }
        .contact-section2{
            display: flex;
            margin-bottom: 100px;
            margin-top: 140px;
            .map-side{
                margin-right: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .map-image{
                    width: 480px;
                    img{
                        width: 100%;
                    }
                }
                .contact-india{
                    margin-top: 24px;
                    margin-bottom: 0;
                    width: 200px;
                }
            }
            .adresses-row{
                display: flex;
                width: 450px;
                &:not(:last-child){
                    margin-bottom: 75px;
                }
                .address:nth-child(2){
                    margin-left: 40px;
                }
            }
        }
        .address{
            width: 250px;
            a{
                font-size: 16px;
            }
            h5{
                font-size: 17px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 15px;
            }
            p{
                line-height: 26px;
                font-size: 16px;
            }
        }

    }
}
@media only screen and (max-width: 1024px) {
    .contact-main{
        .contact-section1{
            justify-content: space-between;
            .form{
                width: 350px;
                form{
                    input::placeholder{
                        font-size: 14px;
                    }
                }
            }
            .contact-image{
                width: 350px;
            }
        }
        .contact-section2{
            flex-direction: column-reverse;
            width: 100%;
            .map-side{
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                margin-right: 0;
                flex-direction: row-reverse;
                .map-image{
                    width: 220px;
                    align-self: center;
                }
                .contact-india{
                    margin-top: 0;
                    display: none;
                }
                .contacts-map{
                    display: none;
                }
                .address-map-israel{
                    display: block;
                    width: 220px;
                }
            }
            .adresses{
                width: 100%;
                .adresses-row{
                    width: 100%;
                    justify-content: space-evenly;
                    .address-row1-russia, .address-row2-neth{
                        display: block;
                    }
                    .address{
                        width: 220px;
                        margin-left: 0;
                    }


                }
            }
            .adresses-row-russia-israel{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .address-mobile{
        display: block;
    }

    .contact-main{
        .contact-section1{
            flex-direction: column;
            margin-top: 0;
            width: 100%;
            align-items: center;
            .form{
                width: calc(100% - 60px);
                margin-right: 0;
                h2{
                    font-size: 32px;
                    line-height: 42px;
                    margin-bottom: 20px;
                }
                h2 + a{
                    font-size: 15px;
                    line-height: 28px;
                }
                form{
                    padding-top: 40px;
                    button{
                        width: 100%;
                        justify-content: center;
                        svg{
                            height: 11px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .contact-image{
                height: 30vw;
                min-height: 200px;
                width: 100%;
                margin-top: 40px;
                margin-bottom: 40px;
                img{
                    top: 50%;
                    width: 100%;
                    transform: translate(-50%, -60%);
                }
            }
        }
        .contact-section2{
            margin-top: 0;
            .adresses{
                background-image: url(../images/contact/map.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 70%;
                .adresses-row{
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;
                    &:nth-last-child(2){
                        display: none;
                    }
                    &:nth-last-child(1){
                        display: none;
                    }
                    .address{
                        width: 300px;
                        margin-bottom: 30px;
                    }
                    .mobile-none-address{
                        display: none;
                    }
                }
            }
            .map-side{
                .map-image{
                    display: none;
                }
                .address-map-israel{
                    width: 300px;
                    display: none;
                }
            }
        }

    }
}
.ajax-button{
    position:relative;
    display: flex;
    justify-content: center;
    width: 175px;
    margin-top: 50px;
    height: 59px;
}
.submit{
    -webkit-appearance: none  !important;
    -moz-appearance: none !important;
    appearance: none;
    background-color:#fff !important;
    border:4px solid #2B2B2B !important;
    border-radius:0px !important;
    color:#2B2B2B !important;
    font-size:17px !important;
    cursor:pointer !important;
    outline:none !important;
}
.submit:hover{
    background-color:#222222 !important;
    color: #fff !important;
}
.loading{
    font-size:0 !important;
    p{
        font-size: 0 !important;
    }
    svg{
        width: 0;
    }
    width:30px !important;
    height:30px !important;
    border-radius:15px !important;
    padding:0 !important;
    border:4px solid #222222 !important;
    border-bottom:3px solid rgba(255,255,255,0.0) !important;
    border-left:3px solid rgba(255,255,255,0.0) !important;
    background-color:transparent !important;
    animation-name: rotateAnimation;
    // -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    :hover{
        background-color: #fff !important;
    }
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.fa{
color:#222222;
font-size:16px !important;
position:absolute;
left:45%;
// top:60%;
-webkit-transform:scaleX(0) !important;
transform:scaleX(0) !important;
}

.finish{
-webkit-transform:scaleX(1) !important;
transform:scaleX(1) !important;
}
.hide-loading{
opacity:0 !important;
-webkit-transform: rotate(0deg) !important;
transform: rotate(0deg) !important;
-webkit-transform:scale(0) !important;
transform:scale(0) !important;
}
