@import 'vars.scss';
.profile-header{
    padding-bottom: 0;
}

.profile-main{
    display: flex;
    .profile-image{
        background-color: #e8e8e8;
        padding-top: 200px;
        width: 50%;
        overflow: hidden;
        min-height: 100%;
        img{
            vertical-align: bottom !important;
            min-width: 100%;
            transform-origin: 50%, 0%;
            min-height: 100%;
        }
    }
    .quote{
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .profile-yair{
        padding-top: 0;
    }
    .profile-content{
        margin-top: 100px;
        color: $dark;
        width: 50%;
        padding-bottom: 40px;
        padding-left: 60px;
        .back{
            display: flex;
            margin-top: 50px;
            align-items: center;
            align-self: flex-start;

            &:hover svg{
                animation-play-state: running;
            }
            svg{
                animation: arrow-left 3s infinite;
                animation-play-state: paused; 
            }
            h5{
                font-size: 17px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        h1{
            &:first-child{
                margin-top: 30px;
            }
            width: 400px;
            &:last-child{
                margin-bottom: 30px;
            }
        }
        h4{
            font-size: 20px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            &:nth-of-type(1){
                margin-top: 10px;
                margin-bottom: 30px;
            }
            &.mb0{
                margin-bottom: 0;
            }
            &.mb30{
                margin-bottom: 30px;
            }
        }
        p{
            font-size: 20px;
            line-height: 30px;
            width: 600px;
        }
        .previous{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        ul{
            list-style: disc;
            margin-left: 30px;
            p{
                font-size: 20px;
                line-height: 40px;
                width: 660px;
                padding-right: 15px;
                .bold{
                    font-weight: bold;
                }
            } 
        }
    }
}
@media only screen and (max-width: 1400px) {
    .profile-main{
        .profile-content{
            h1{
                width: 400px;
            }
            ul p, p{
                width: 500px;
            }
            
        }
        .profile-image{
            img{
            transform: translateX(-10%);
            }
        }
    }
}
@media only screen and (max-width: 1280px) {
    .profile-main{
        .profile-content{
            padding-left: 40px;
            h1{
                font-size: 72px;
                line-height: 89px;
                &:first-child{
                    margin-top: 60px;
                }
            }
            h4{
                font-size: 16px;
                line-height: 24px   ;
            }
            .quote{
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 30px;
            }
            p, ul li p{
                width: 470px;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 10px;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .profile-main{
        .profile-content{
            padding-left: 20px;
            h1{
                font-size: 64px;
                line-height: 85px;
                &:first-child{
                    margin-top: 40px;
                }
                width: 380px;
                &:last-child{
                    margin-bottom: 20px;
                }
            }
            .back{
                h5{
                    font-size: 16px;
                }
            }
            h4{
                font-size: 16px;
                margin-bottom: 20px;
                line-height: 24px;
            }
            .quote{
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 30px;
            }
            ul li p{
                width: 380px;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 10px;
                width: 340px;
            }
            .yair-p-left{
                padding-left: 10px;
            }
            p{
                width: 380px;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 10px;
            }
        }
        .profile-image{
            img{
            transform: translateX(-20%);
            }
            &.igor-image{
                img{
                    transform: translateX(-30%);    
                }
            }
            &.arnon-image{
                padding-top: 300px;
                img{
                    width: 550px;  
                    transform: translateX(-10%);  
                    min-height: auto;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .profile-header{
        .logo{
            svg path{
                fill: white;
            }
        }
    }
    .profile-main{
        .profile-content{
            display: flex;
            flex-direction: column;

            .profile-name-photo{
                height: 111vw;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &.profile-arnon-photo{
                    background-image: url(../images/profile/arnon-bg.png);
                }
                &.profile-igor-photo{
                    background-image: url(../images/profile/igor-bg.png);
                }
                &.profile-andrey-photo{
                    background-image: url(../images/profile/andrey-bg.png);
                }
                &.profile-yair-photo{
                    background-image: url(../images/profile/yair-bg.png);
                }
                &.profile-maria-photo{
                    background-image: url(../images/profile/maria-bg.png);   
                }
                &.profile-guy-photo{
                    background-image: url(../images/profile/guy-bg.png);   
                }
                &.profile-gil-photo{
                    background-image: url(../images/profile/gil-bg.png);   
                }
                &.profile-ariel-photo{
                    background-image: url(../images/profile/ariel-bg.png);   
                }
                &.profile-iftah-photo{
                    background-image: url(../images/profile/iftah-bg.png);   
                }
                &.profile-shomoil-photo{
                    background-image: url(../images/profile/shomoil-bg.png);   
                }
                &.profile-joe-photo{
                    background-image: url(../images/profile/joe-bg.png);   
                }
                &.profile-alexander-photo{
                    background-image: url(../images/profile/alexander-bg.png);   
                }
                &.profile-phina-photo{
                    background-image: url(../images/profile/phina-bg.png);   
                }
                &.profile-ben-photo{
                    background-image: url(../images/profile/ben-bg.jpg);   
                }
                background-size: cover;
                position: relative;
                padding-top: 90px;
                color: white;
                margin-bottom: 30px;
                padding-left: 20px;
                padding-bottom: 30px;
                .back{
                    h5{
                        color: white;
                        font-size: 18px;
                    }
                    svg path{
                        stroke: white;
                    }
                }
            }
            padding-left: 0px;
            width: 100%;
            margin-top: 0;
            h1{
                font-size: 60px;
                line-height: 70px;
                &:first-child{
                    margin-top: 90px;
                }
                width: 320px;
                color: White;
            }
            h4{
                font-size: 16px;
                margin-bottom: 30px;
                line-height: 24px;
            }
            .quote{
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 30px;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
            }
            
            ul{
                margin-left: 0;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            ul li{
                width: 70%;

            }
            .yair-p-left{
                padding-left: 10px;
            }
            p{
                min-width: 240px;
                font-size: 16px;
                width: 80%;
                line-height: 26px;
                align-self: center;
            }
            .previous{
                margin-top: 10px;
            }
            ul li p{
                // max-width: 320px;
                width: 100%;
                padding-right: 0;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }
        .profile-image{
            display: none;
        }
    }
}
@media only screen and (max-width: 566px){
    .profile-main{
        .profile-content{
            .profile-name-photo{
                padding-top: 55px;
                h1{
                    font-size: 40px;
                    &:last-child{
                        margin-bottom: 10px;
                    }
                    line-height: 55px;
                }
                h4{
                    font-size: 16px;
                    
                }
                a.back{
                    margin-top: 40px;
                }
            }
            .profile-gil-photo{
                h1{
                    width: 150px;
                    &:first-child{
                        margin-top: 70px;
                    }
                }
                h4{
                    max-width: 300px;
                }
            }
            .profile-alexander-photo{
                padding-bottom: 10px;
                .profile-name{
                    h1{
                        font-size: 32px !important;
                        line-height: 45px;
                    }
                    h4{
                        margin-bottom: 0;
                        margin-top: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}   