.about-header {
  background-image: url(../images/about/bg-header.png); }

.about-header {
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  background-position: 50% 50%; }

.header-about-content {
  padding-top: 190px;
  color: white;
  margin-left: 180px; }
  .header-about-content p {
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
    width: 820px; }
  .header-about-content .h1-2 {
    width: 1100px; }
    .header-about-content .h1-2 .the-future {
      display: block; }

.main-areas {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  padding-top: 100px;
  justify-content: center; }
  .main-areas h2 {
    font-size: 44px;
    line-height: 56px;
    color: #2B2B2B;
    width: 390px;
    margin-right: 40px; }
  .main-areas .main-areas-cont {
    display: flex; }
    .main-areas .main-areas-cont .main-areas-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      padding-top: 45px;
      padding-bottom: 55px;
      transition: .3s;
      box-shadow: 0px 25px 50px rgba(78, 81, 144, 0.07); }
      .main-areas .main-areas-cont .main-areas-box:not(:last-child) {
        margin-right: 40px; }
      .main-areas .main-areas-cont .main-areas-box h5 {
        font-weight: bold;
        font-size: 17px;
        text-align: center;
        line-height: 30px;
        text-transform: uppercase;
        margin-top: 30px;
        color: #4E4E4E; }
      .main-areas .main-areas-cont .main-areas-box:hover {
        box-shadow: 0px 25px 50px rgba(78, 81, 144, 0.07), 0px 4px 7px rgba(78, 81, 144, 0.15); }

.section2-about {
  overflow: hidden; }
  .section2-about .section2-image_1 {
    min-width: 50%;
    overflow: hidden; }
    .section2-about .section2-image_1 img {
      height: 100%;
      min-width: 100%;
      vertical-align: bottom; }
  .section2-about .section2-image_2 {
    min-width: 50%;
    overflow: hidden; }
    .section2-about .section2-image_2 img {
      min-height: 100%;
      min-width: 160%;
      left: 50%;
      top: 100%;
      vertical-align: bottom; }
  .section2-about .section2-image_3 {
    min-width: 50%;
    overflow: hidden; }
    .section2-about .section2-image_3 img {
      min-height: 100%;
      min-width: 100%;
      vertical-align: bottom; }
  .section2-about .section2-row {
    display: flex; }
    .section2-about .section2-row .section2-text {
      margin-left: 90px;
      padding-top: 210px;
      flex: 1;
      color: #2B2B2B; }
      .section2-about .section2-row .section2-text h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        margin-bottom: 40px; }
      .section2-about .section2-row .section2-text p {
        font-size: 20px;
        line-height: 40px;
        width: 580px; }
        .section2-about .section2-row .section2-text p.about-p {
          margin-top: 40px; }
    .section2-about .section2-row .section2-image {
      background-size: 100%;
      width: 50%;
      z-index: 1; }
  .section2-about .section2-row1-text {
    margin-bottom: 140px; }
  .section2-about .section2-row1-text1 {
    position: relative; }
    .section2-about .section2-row1-text1:before {
      position: absolute;
      width: 1px;
      content: "";
      height: 600%;
      background-color: #A5A5A5;
      top: -100%;
      left: -55px; }
  .section2-about .section2-row1-text2 {
    position: relative; }
    .section2-about .section2-row1-text2:after {
      position: absolute;
      height: 1px;
      width: 200%;
      content: "";
      bottom: -10px;
      left: -100%;
      background-color: #A5A5A5; }
  .section2-about .section2-row1-text3 {
    position: relative;
    align-self: start; }
    .section2-about .section2-row1-text3:after {
      position: absolute;
      height: 1px;
      width: 200%;
      content: "";
      top: 265px;
      left: -100%;
      background-color: #A5A5A5; }
  .section2-about .section2-row2-text {
    padding-bottom: 130px; }
    .section2-about .section2-row2-text h2 {
      width: 570px; }
  .section2-about .section2-row .section2-row3-text {
    margin-bottom: 140px;
    padding-top: 130px; }

@media only screen and (max-width: 1400px) {
  .main-areas h2 {
    font-size: 40px;
    width: 300px; }
  .main-areas .main-areas-cont .main-areas-box {
    width: 230px; }
    .main-areas .main-areas-cont .main-areas-box h5 {
      font-size: 16px; }
    .main-areas .main-areas-cont .main-areas-box .main-areas_image img {
      width: 70px; }
  .section2-about .section2-row .section2-text {
    margin-left: 50px; }
    .section2-about .section2-row .section2-text h2 {
      font-size: 40px;
      width: 500px; }
    .section2-about .section2-row .section2-text p {
      font-size: 18px;
      width: 500px; }
  .section2-about .section2-row .section2-row1-text1:before {
    height: 800%;
    top: -300%;
    left: -30px; } }

@media only screen and (max-width: 1280px) {
  .about-header .header-about-content {
    margin-left: 120px; }
    .about-header .header-about-content h1 {
      font-size: 72px;
      line-height: 89px;
      width: 890px; }
      .about-header .header-about-content h1.the-future {
        margin-bottom: 40px; }
    .about-header .header-about-content p {
      font-size: 20px;
      line-height: 35px;
      width: 890px; }
  .section2-about .main-areas .main-areas-cont .main-areas-box:not(:last-child) {
    margin-right: 25px; }
  .section2-about .main-areas .main-areas-cont .main-areas-box {
    width: 220px;
    padding-bottom: 45px; }
  .section2-about .section2-row .section2-text {
    margin-left: 40px;
    margin-bottom: 80px;
    padding-top: 120px; }
    .section2-about .section2-row .section2-text.section2-row1-text1:before {
      left: -20px; }
    .section2-about .section2-row .section2-text.section2-row1-text3:after {
      top: 250px; }
    .section2-about .section2-row .section2-text h2 {
      font-size: 36px;
      line-height: 55px;
      width: 460px; }
    .section2-about .section2-row .section2-text p {
      width: 460px;
      font-size: 16px;
      line-height: 26px; }
  .section2-about .section2-row .section2-image_1 img {
    max-height: 50vw; }
  .section2-about .section2-row .section2-image_2 img {
    max-height: 50vw;
    width: 50%; }
  .section2-about .section2-row .section2-image_3 img {
    max-height: 50vw; } }

@media only screen and (max-width: 1024px) {
  .about-header {
    justify-content: center; }
    .about-header .header-about-content {
      padding-top: 120px;
      width: 740px;
      margin-left: 0; }
      .about-header .header-about-content h1 {
        font-size: 64px;
        line-height: 85px;
        width: 700px; }
        .about-header .header-about-content h1.the-future {
          margin-bottom: 20px; }
      .about-header .header-about-content p {
        font-size: 16px;
        line-height: 28px;
        width: 700px; }
  .section2-about .main-areas {
    justify-content: space-around;
    flex-wrap: wrap; }
    .section2-about .main-areas h2 {
      font-size: 36px;
      width: 100%;
      text-align: center;
      flex: 100%; }
    .section2-about .main-areas .main-areas-cont {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      width: 100%; }
      .section2-about .main-areas .main-areas-cont .main-areas-box {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: auto;
        flex-direction: row;
        align-items: center; }
        .section2-about .main-areas .main-areas-cont .main-areas-box:not(:nth-child(3)) {
          margin-right: 15px; }
        .section2-about .main-areas .main-areas-cont .main-areas-box h5 {
          margin: 0;
          width: 105px;
          text-align: left;
          margin-left: 15px; }
  .section2-about .section2-row .section2-text {
    margin-left: 25px;
    padding-top: 50px; }
    .section2-about .section2-row .section2-text.section2-row1-text1 {
      margin-bottom: 40px; }
    .section2-about .section2-row .section2-text p {
      width: 345px;
      margin-bottom: 20px; }
    .section2-about .section2-row .section2-text h2 {
      width: 350px;
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 40px; }
  .section2-about .section2-row .section2-image_1 img {
    min-height: 500px;
    max-height: auto; }
  .section2-about .section2-row .section2-row2-text {
    padding-bottom: 0px; }
  .about-main .section2-about .section2-row .section2-row1-text3:after {
    top: 140px; } }

@media only screen and (max-width: 767px) {
  .about-header {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    padding-bottom: 50px;
    background-position: 100% 0; }
    .about-header .header-about-content h1.h1-2 {
      font-size: 46px;
      line-height: 57px;
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px; }
      .about-header .header-about-content h1.h1-2 .the-future {
        display: inline; }
    .about-header .header-about-content p {
      font-size: 14px;
      line-height: 28px;
      width: 100%; }
  .section2-about .main-areas {
    padding-top: 80px; }
    .section2-about .main-areas h2 {
      font-size: 32px;
      line-height: 42px;
      margin-right: 0;
      padding-left: 40px;
      padding-right: 40px; }
    .section2-about .main-areas .main-areas-cont {
      flex-direction: column;
      align-items: center; }
      .section2-about .main-areas .main-areas-cont .main-areas-box {
        width: calc(100% - 80px);
        justify-content: center;
        margin-bottom: 30px;
        padding-bottom: 45px;
        margin-right: 0 !important;
        padding-top: 27px;
        padding-bottom: 27px; }
  .section2-about .section2-row {
    flex-direction: column-reverse; }
    .section2-about .section2-row.section2-row2 {
      flex-direction: column; }
    .section2-about .section2-row .section2-text {
      width: calc(100%);
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section2-about .section2-row .section2-text p {
        width: calc(100% - 40px); }
      .section2-about .section2-row .section2-text h2 {
        width: calc(100% - 40px); }
    .section2-about .section2-row .section2-image {
      width: 100%;
      overflow: hidden;
      position: relative; }
      .section2-about .section2-row .section2-image img {
        width: 140vw;
        min-height: 140vw;
        transform: translate(-50%, -50%);
        position: absolute; }
      .section2-about .section2-row .section2-image.section2-image_1 {
        min-height: 150px;
        height: 50vw; }
        .section2-about .section2-row .section2-image.section2-image_1 img {
          top: 30%;
          width: 120vw;
          max-width: 667px;
          left: 50%;
          min-height: 100vw; }
      .section2-about .section2-row .section2-image.section2-image_2 {
        min-height: 50px;
        height: 50vw;
        width: 100%; }
        .section2-about .section2-row .section2-image.section2-image_2 img {
          top: 40%;
          left: 60%;
          width: 100%;
          height: 100%; }
      .section2-about .section2-row .section2-image.section2-image_3 {
        min-height: 150px;
        height: 50vw; }
        .section2-about .section2-row .section2-image.section2-image_3 img {
          top: 100%;
          width: 100%;
          left: 50%; }
  .section2-about .section2-row1-text1:after {
    display: none; }
  .section2-about .section2-row1-text1:before {
    display: none; }
  .section2-about .section2-row1-text3:after {
    display: none; } }

/*# sourceMappingURL=about.css.map */
