.article-header {
  background-image: url(../images/article/bg-header.png);
  background-attachment: fixed;
  display: flex;
  min-height: 100%;
  padding-bottom: 0;
  flex-direction: column;
  align-items: center;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover; }
  .article-header.invest-header {
    background-image: url(../images/article/bg-header2.jpg); }
  .article-header.investment-header {
    background-image: url(../images/article/bg-header3.jpg); }
  .article-header .menu-contact a svg {
    animation: arrow-right 3s infinite;
    animation-play-state: paused; }
  .article-header .menu-contact a:hover svg {
    animation-play-state: running; }
  .article-header .header-menu {
    align-self: stretch; }
  .article-header .article-header-content {
    color: White;
    display: flex;
    margin-top: 220px;
    margin-left: 40px;
    flex-direction: column;
    padding-bottom: 220px;
    width: 970px; }
    .article-header .article-header-content .back {
      color: #fff; }
    .article-header .article-header-content .back {
      display: flex;
      margin-bottom: 100px;
      align-items: center;
      align-self: flex-start; }
      .article-header .article-header-content .back:hover svg {
        animation-play-state: running; }
      .article-header .article-header-content .back svg {
        animation: arrow-left 3s infinite;
        animation-play-state: paused; }
        .article-header .article-header-content .back svg path {
          stroke: white; }
      .article-header .article-header-content .back h5 {
        font-size: 17px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 10px; }
    .article-header .article-header-content p {
      font-size: 17px;
      margin-bottom: 5px; }
    .article-header .article-header-content h1 {
      font-size: 48px;
      line-height: 60px; }

.article-main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .article-main .article-main-wrap {
    background-color: #fff;
    padding-right: 70px;
    padding-left: 70px;
    width: 940px;
    color: #2B2B2B;
    box-sizing: border-box; }
    .article-main .article-main-wrap p {
      font-size: 17px;
      line-height: 30px;
      letter-spacing: 0.323px; }
    .article-main .article-main-wrap p.p-first {
      margin-bottom: 70px; }
      .article-main .article-main-wrap p.p-first.invest {
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 0; }
        .article-main .article-main-wrap p.p-first.invest .italic {
          font-style: italic;
          font-weight: normal; }
    .article-main .article-main-wrap .p1 {
      display: block; }
    .article-main .article-main-wrap .p2 {
      margin-bottom: 70px;
      padding-right: 30px; }
    .article-main .article-main-wrap .image-invest {
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: right; }
      .article-main .article-main-wrap .image-invest img {
        width: 100%; }
      .article-main .article-main-wrap .image-invest span {
        color: #A5A5A5;
        font-style: italic;
        display: inline-block;
        margin-top: 20px;
        margin-right: 40px; }
    .article-main .article-main-wrap .article-main-wrap__title1 {
      display: flex;
      margin-bottom: 70px; }
      .article-main .article-main-wrap .article-main-wrap__title1 hr {
        background-color: #2B2B2B;
        width: 70px;
        height: 2px;
        margin: 0;
        border: 0;
        margin-right: 35px;
        margin-top: 28px; }
      .article-main .article-main-wrap .article-main-wrap__title1 h3 {
        width: 664px; }
    .article-main .article-main-wrap h3 {
      font-size: 28px;
      line-height: 40px;
      font-weight: bold; }
    .article-main .article-main-wrap .p3 {
      margin-top: 20px;
      margin-bottom: 20px; }
    .article-main .article-main-wrap .article-images {
      display: flex;
      margin-top: 40px;
      margin-bottom: 25px;
      align-items: start; }
      .article-main .article-main-wrap .article-images .article-image1 {
        margin-right: 25px; }
      .article-main .article-main-wrap .article-images .article-image21 {
        margin: 0; }
    .article-main .article-main-wrap .p4 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }
      .article-main .article-main-wrap .p4 span {
        color: #A5A5A5; }
    .article-main .article-main-wrap .grey {
      color: #a5a5a5;
      text-transform: uppercase;
      font-weight: bold; }
    .article-main .article-main-wrap .title4 {
      margin-top: 15px;
      margin-bottom: 20px; }
    .article-main .article-main-wrap .title5 {
      margin-top: 60px;
      margin-bottom: 20px; }
  .article-main.invest-main .article-main-wrap p {
    margin-top: 30px; }
    .article-main.invest-main .article-main-wrap p a {
      color: #33acb2;
      transition: .2s; }
      .article-main.invest-main .article-main-wrap p a:hover {
        color: #0080FF; }
  .article-main.invest-main .article-main-wrap h3 {
    margin-top: 40px; }
  .article-main .article-image2 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .article-main .article-main-wrap-1 {
    margin-top: -160px;
    padding-top: 60px; }
  .article-main .article-main-wrap2 {
    display: flex;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: flex-start; }
    .article-main .article-main-wrap2 hr {
      border: 0;
      width: 100%;
      background-color: #A5A5A5;
      height: 1px; }
  .article-main .social {
    display: flex;
    align-self: flex-end;
    margin-top: 40px;
    margin-bottom: 35px; }
    .article-main .social .image-social {
      margin-left: 14px; }
      .article-main .social .image-social svg path {
        transition: .1s; }
      .article-main .social .image-social:hover svg path:first-child {
        fill: #0080FF; }
    .article-main .social h4 {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase; }
  .article-main .similars {
    display: flex;
    margin-bottom: 75px; }
    .article-main .similars .similar:not(:nth-child(2)) {
      margin-right: 55px; }
    .article-main .similars .similar__date {
      color: #A5A5A5;
      font-size: 17px;
      font-weight: normal;
      margin-top: 30px;
      margin-bottom: 20px; }
  .article-main .similar__title {
    align-self: center;
    margin-top: 140px;
    margin-bottom: 70px; }

@media only screen and (max-width: 1280px) {
  .article-header {
    background-position: 0% 50%; }
    .article-header .article-header-content h1 {
      font-size: 36px;
      line-height: 45px;
      padding-right: 80px; }
    .article-header .article-header-content p {
      font-size: 14px;
      line-height: 24px; }
  .article-main .article-main-wrap {
    padding-left: 100px;
    padding-right: 100px; }
    .article-main .article-main-wrap .p-first {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 70px; }
    .article-main .article-main-wrap .p2 {
      font-size: 14px;
      line-height: 24px;
      display: inline; }
    .article-main .article-main-wrap .p1 {
      margin-right: 0;
      display: inline; }
    .article-main .article-main-wrap .article-main-wrap__title1 {
      margin-bottom: 60px; }
      .article-main .article-main-wrap .article-main-wrap__title1 h3 {
        font-size: 24px;
        line-height: 34px; }
    .article-main .article-main-wrap h3 {
      font-size: 24px;
      line-height: 34px; }
    .article-main .article-main-wrap .p3, .article-main .article-main-wrap p {
      font-size: 14px;
      line-height: 24px; }
    .article-main .article-main-wrap .article-images {
      align-items: start; }
      .article-main .article-main-wrap .article-images .article-image1 {
        margin-right: 20px; }
        .article-main .article-main-wrap .article-images .article-image1 img {
          width: 370px; }
      .article-main .article-main-wrap .article-images .article-image21 {
        margin: 0; }
        .article-main .article-main-wrap .article-images .article-image21 img {
          width: 350px; }
    .article-main .article-main-wrap .p4 {
      margin-top: 40px;
      font-size: 14px;
      line-height: 25px; }
    .article-main .article-main-wrap .grey {
      font-size: 14px;
      line-height: 25px; }
    .article-main .article-main-wrap .title4 {
      margin-top: 40px;
      margin-bottom: 30px; }
  .article-main .article-image2 {
    margin-top: 60px;
    margin-bottom: 60px; }
    .article-main .article-image2 img {
      width: 100%; }
  .article-main .article-main-wrap2 {
    padding-bottom: 60px; }
    .article-main .article-main-wrap2 .social {
      margin-bottom: 40px; }
      .article-main .article-main-wrap2 .social h4 {
        font-size: 16px; }
    .article-main .article-main-wrap2 .similar__title {
      font-size: 24px;
      margin-top: 60px; }
    .article-main .article-main-wrap2 .similars {
      margin-bottom: 60px; }
      .article-main .article-main-wrap2 .similars .similar:not(:nth-child(2)) {
        margin-right: 20px; }
      .article-main .article-main-wrap2 .similars .similar__image img {
        width: 360px; }
      .article-main .article-main-wrap2 .similars .similar__date {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px; }
      .article-main .article-main-wrap2 .similars .similar h3 {
        font-size: 24px;
        line-height: 34px;
        width: 350px; } }

@media only screen and (max-width: 1024px) {
  .article-header .article-header-content {
    width: 90%;
    margin-left: 0; }
    .article-header .article-header-content h1 {
      font-size: 32px;
      line-height: 42px;
      padding-left: 80px; }
    .article-header .article-header-content p {
      font-size: 14px;
      line-height: 24px;
      padding-left: 80px; }
    .article-header .article-header-content .back {
      margin-left: 80px; }
  .article-main .article-main-wrap {
    padding-left: 80px;
    width: 90%;
    padding-right: 80px; }
    .article-main .article-main-wrap .p-first {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 40px; }
    .article-main .article-main-wrap .p2 {
      font-size: 14px;
      line-height: 24px;
      display: inline;
      padding-right: 0; }
    .article-main .article-main-wrap .p1 {
      margin-right: 0;
      display: inline; }
    .article-main .article-main-wrap .article-main-wrap__title1 {
      margin-bottom: 40px; }
      .article-main .article-main-wrap .article-main-wrap__title1 h3 {
        font-size: 20px;
        line-height: 29px; }
    .article-main .article-main-wrap h3 {
      font-size: 20px;
      line-height: 29px; }
    .article-main .article-main-wrap .p3, .article-main .article-main-wrap p {
      font-size: 14px;
      line-height: 24px; }
    .article-main .article-main-wrap .p3 {
      margin-top: 40px; }
    .article-main .article-main-wrap .article-images {
      align-items: start; }
      .article-main .article-main-wrap .article-images .article-image1 {
        margin-right: 20px;
        width: 51%; }
        .article-main .article-main-wrap .article-images .article-image1 img {
          width: 100%; }
      .article-main .article-main-wrap .article-images .article-image21 {
        margin: 0;
        width: 47%; }
        .article-main .article-main-wrap .article-images .article-image21 img {
          width: 100%; }
    .article-main .article-main-wrap .p4 {
      margin-top: 40px;
      font-size: 14px;
      line-height: 25px; }
    .article-main .article-main-wrap .grey {
      font-size: 14px;
      line-height: 25px; }
    .article-main .article-main-wrap .title4 {
      margin-top: 40px;
      margin-bottom: 20px; }
    .article-main .article-main-wrap .title5 {
      margin-top: 40px; }
  .article-main.invest-main .article-main-wrap p {
    margin-top: 20px; }
  .article-main.invest-main .article-main-wrap h3 {
    margin-top: 30px; }
  .article-main .article-image2 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .article-main .article-main-wrap2 {
    padding-bottom: 60px; }
    .article-main .article-main-wrap2 .social {
      margin-bottom: 20px; }
      .article-main .article-main-wrap2 .social h4 {
        font-size: 16px; }
    .article-main .article-main-wrap2 .similar__title {
      margin-bottom: 65px; }
    .article-main .article-main-wrap2 .similars {
      margin-bottom: 60px;
      width: 100%; }
      .article-main .article-main-wrap2 .similars .similar:not(:nth-child(2)) {
        margin-right: 20px; }
      .article-main .article-main-wrap2 .similars .similar {
        width: 48%; }
        .article-main .article-main-wrap2 .similars .similar__image {
          width: 100%; }
          .article-main .article-main-wrap2 .similars .similar__image img {
            width: 100%; }
        .article-main .article-main-wrap2 .similars .similar__date {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 14px; }
        .article-main .article-main-wrap2 .similars .similar__title {
          font-size: 20px;
          line-height: 29px; }
        .article-main .article-main-wrap2 .similars .similar h3 {
          font-size: 20px;
          line-height: 29px;
          width: 100%; } }

@media only screen and (max-width: 767px) {
  .article-header {
    background-size: cover;
    height: 100vh;
    background-position: 30% 50%;
    justify-content: center;
    display: flex; }
    .article-header .article-header-content {
      width: 100%;
      margin-top: 0;
      padding-bottom: 0;
      justify-content: center;
      margin-top: 100px;
      min-height: 400px;
      margin-left: 0; }
      .article-header .article-header-content h1 {
        font-size: 32px;
        line-height: 40px;
        padding-right: 20px;
        padding-left: 20px; }
      .article-header .article-header-content p {
        font-size: 14px;
        line-height: 24px;
        padding-left: 20px; }
      .article-header .article-header-content .back {
        margin-left: 20px; }
  .article-main .article-main-wrap {
    padding-left: 20px;
    width: 100%;
    max-width: 500px;
    margin-top: 0;
    padding-right: 20px; }
    .article-main .article-main-wrap .p-first {
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 40px; }
    .article-main .article-main-wrap .p2 {
      font-size: 12px;
      line-height: 19px;
      display: inline;
      padding-right: 0; }
    .article-main .article-main-wrap .p1 {
      margin-right: 0;
      display: inline; }
    .article-main .article-main-wrap .article-main-wrap__title1 {
      margin-bottom: 40px;
      display: flex;
      margin-top: 30px;
      flex-direction: column; }
      .article-main .article-main-wrap .article-main-wrap__title1 hr {
        margin-top: 0; }
      .article-main .article-main-wrap .article-main-wrap__title1 h3 {
        margin-top: 20px;
        font-size: 20px;
        width: 100%;
        line-height: 29px; }
    .article-main .article-main-wrap h3 {
      font-size: 20px;
      line-height: 29px; }
    .article-main .article-main-wrap .p3, .article-main .article-main-wrap p {
      font-size: 12px;
      line-height: 19px; }
    .article-main .article-main-wrap .p3 {
      margin-top: 40px; }
    .article-main .article-main-wrap .article-images {
      align-items: start;
      flex-direction: column;
      margin-top: 20px; }
      .article-main .article-main-wrap .article-images .article-image1 {
        margin-right: 0px;
        margin-bottom: 20px;
        width: 100%; }
        .article-main .article-main-wrap .article-images .article-image1 img {
          width: 100%; }
      .article-main .article-main-wrap .article-images .article-image21 {
        margin: 0;
        width: 100%; }
        .article-main .article-main-wrap .article-images .article-image21 img {
          width: 100%; }
    .article-main .article-main-wrap .p4 {
      margin-top: 20px;
      font-size: 14px;
      line-height: 25px; }
    .article-main .article-main-wrap .grey {
      font-size: 14px;
      line-height: 25px; }
    .article-main .article-main-wrap .title4 {
      margin-top: 40px;
      margin-bottom: 20px; }
    .article-main .article-main-wrap .title5 {
      margin-top: 40px; }
  .article-main .article-image2 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .article-main .article-main-wrap2 {
    padding-bottom: 80px; }
    .article-main .article-main-wrap2 .social {
      margin-bottom: 40px;
      margin-top: 40px;
      align-self: flex-start;
      flex-direction: row-reverse; }
      .article-main .article-main-wrap2 .social h4 {
        font-size: 16px;
        margin-left: 10px; }
      .article-main .article-main-wrap2 .social .image-social:last-child {
        margin-left: 0; }
    .article-main .article-main-wrap2 .similar__title {
      margin-bottom: 40px;
      margin-top: 80px; }
    .article-main .article-main-wrap2 .similars {
      margin-bottom: 0px;
      width: 100%;
      display: flex;
      flex-direction: column; }
      .article-main .article-main-wrap2 .similars .similar:not(:nth-child(2)) {
        margin-right: 20px; }
      .article-main .article-main-wrap2 .similars .similar {
        width: 100%;
        margin-bottom: 40px; }
        .article-main .article-main-wrap2 .similars .similar__image {
          width: 100%; }
          .article-main .article-main-wrap2 .similars .similar__image img {
            width: 100%; }
        .article-main .article-main-wrap2 .similars .similar__date {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 14px; }
        .article-main .article-main-wrap2 .similars .similar__title {
          font-size: 20px;
          line-height: 29px; }
        .article-main .article-main-wrap2 .similars .similar h3 {
          font-size: 20px;
          line-height: 29px;
          width: 100%; } }

/*# sourceMappingURL=article.css.map */
