.header-home {
  background-image: url(../images/home/bg-header.png);
  display: flex;
  align-items: center;
  background-size: cover;
  height: calc(100vh - 80px);
  min-height: 600px; }
  .header-home h1 {
    margin-left: 180px;
    margin-top: 200px;
    font-size: 110px;
    line-height: 110px; }

.home4-hidden {
  display: none; }

.section2-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px; }
  .section2-home h2 {
    width: 1180px;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    text-align: center; }
    .section2-home h2:nth-child(2) {
      margin-bottom: 85px; }
  .section2-home .animation1-container {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%; }
    .section2-home .animation1-container .animation1-wrapper {
      background-color: #000;
      width: 50%;
      display: flex;
      flex-direction: column; }
    .section2-home .animation1-container .animation1 {
      background-color: #000;
      display: flex;
      width: 430px;
      padding-top: 100px;
      flex-direction: column; }
      .section2-home .animation1-container .animation1 > h3 {
        font-size: 28px;
        line-height: 40px;
        font-weight: bold; }
      .section2-home .animation1-container .animation1 hr {
        background-color: #fff;
        margin: 0;
        height: 2px;
        border: 0;
        width: 430px;
        margin-bottom: 70px;
        margin-top: 35px; }
      .section2-home .animation1-container .animation1 .achievements {
        margin-bottom: 50px; }
        .section2-home .animation1-container .animation1 .achievements > h3 {
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 15px;
          font-weight: bold; }
        .section2-home .animation1-container .animation1 .achievements > p {
          font-size: 20px;
          line-height: 40px; }
      .section2-home .animation1-container .animation1-right > h3 {
        padding-left: 160px;
        margin-bottom: 40px; }
      .section2-home .animation1-container .animation1-right .achievements {
        padding-left: 160px; }
        .section2-home .animation1-container .animation1-right .achievements:nth-child(4) > p {
          margin-bottom: 40px; }
      .section2-home .animation1-container .animation1-left {
        align-items: flex-start;
        align-self: flex-end; }
        .section2-home .animation1-container .animation1-left hr {
          align-self: flex-end; }
  .section2-home .button-wrapper {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 100px; }
  .section2-home .animation1-container {
    overflow: hidden; }

.animation2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 150px; }
  .animation2 > p {
    text-align: center;
    line-height: 51px;
    font-size: 30px;
    width: 900px;
    margin-bottom: 70px; }
  .animation2 .button {
    border-color: #2B2B2B;
    color: #2B2B2B; }
    .animation2 .button > svg path {
      stroke: #2B2B2B; }
    .animation2 .button:hover {
      background-color: #2B2B2B;
      color: white; }
      .animation2 .button:hover > svg path {
        stroke: white; }

.home-4 {
  width: 100%; }
  .home-4 .grid {
    display: flex;
    width: 100%; }
    .home-4 .grid .right {
      width: 50%; }
      .home-4 .grid .right .home-4_image2 img {
        width: 100%; }
      .home-4 .grid .right .bottom {
        padding-top: 60px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 50px;
        color: #2B2B2B; }
        .home-4 .grid .right .bottom .date {
          font-size: 17px; }
        .home-4 .grid .right .bottom h3 {
          font-size: 28px;
          line-height: 40px;
          font-weight: 700;
          margin-top: 15px;
          margin-bottom: 20px; }
        .home-4 .grid .right .bottom p {
          font-size: 20px;
          line-height: 40px; }
    .home-4 .grid .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home-4 .grid .left .top {
        display: flex;
        justify-content: center;
        width: 100%; }
        .home-4 .grid .left .top .home-4_image1 {
          min-width: 50%;
          background-image: url(../images/home/section4-1.png);
          background-size: cover;
          background-position: 10% 0;
          background-repeat: no-repeat; }
        .home-4 .grid .left .top .home-4_text {
          width: 50%;
          color: white;
          background-color: #000;
          padding-top: 10px;
          padding-left: 35px;
          padding-right: 35px;
          padding-bottom: 30px; }
          .home-4 .grid .left .top .home-4_text .date {
            font-size: 16px; }
          .home-4 .grid .left .top .home-4_text h3 {
            font-weight: bold;
            font-size: 26px;
            line-height: 40px;
            margin-top: 10px; }
          .home-4 .grid .left .top .home-4_text p {
            font-size: 17px;
            line-height: 40px;
            margin-top: 10px; }
      .home-4 .grid .left .bottom {
        background-image: url(../images/home/section4-3.png);
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 410px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
        .home-4 .grid .left .bottom .home-4_title {
          background-color: #000;
          color: white;
          padding: 30px 50px;
          font-size: 26px;
          line-height: 40px; }
  .home-4 > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B; }
    .home-4 > a .arrow-media {
      animation: arrow-right 3s infinite;
      animation-play-state: paused; }
    .home-4 > a:hover .arrow-media {
      animation-play-state: running; }
    .home-4 > a h3 {
      font-weight: bold;
      font-size: 28px;
      padding: 55px;
      padding-right: 20px;
      color: white;
      margin-left: -30px;
      line-height: 40px; }
    .home-4 > a svg path {
      stroke: white; }

.anime-wrapper {
  position: absolute; }
  .anime-wrapper .anime {
    width: 300px;
    position: absolute;
    background-color: #000;
    height: 300px;
    transform: rotate(45deg) scaleY(10) scaleX(10); }

@media only screen and (max-width: 1280px) {
  .animation2 > p {
    width: 660px;
    line-height: 40px;
    font-size: 24px; }
  .section2-home {
    padding-top: 138px; }
    .section2-home .animation1-container .animation1-wrapper .animation1 {
      width: 350px;
      width: 350px; }
      .section2-home .animation1-container .animation1-wrapper .animation1.animation1-right > h3 {
        font-size: 24px;
        padding-left: 65px; }
      .section2-home .animation1-container .animation1-wrapper .animation1.animation1-right .achievements {
        padding-left: 65px; }
        .section2-home .animation1-container .animation1-wrapper .animation1.animation1-right .achievements:nth-child(4) > p {
          margin-bottom: 25px; }
      .section2-home .animation1-container .animation1-wrapper .animation1 hr {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 350px; }
      .section2-home .animation1-container .animation1-wrapper .animation1 h3 {
        font-size: 36px; }
      .section2-home .animation1-container .animation1-wrapper .animation1 > h3 {
        font-size: 24px; }
      .section2-home .animation1-container .animation1-wrapper .animation1 p {
        font-size: 16px;
        line-height: 26px; }
      .section2-home .animation1-container .animation1-wrapper .animation1 .achievements {
        margin-bottom: 25px; }
    .section2-home h2 {
      width: 980px;
      font-size: 36px;
      line-height: 55px; }
  .home-4 .grid .left .top .home-4_image1 {
    display: none; }
  .home-4 .grid .left .top .home-4_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    padding-top: 40px; }
    .home-4 .grid .left .top .home-4_text .date {
      font-size: 14px; }
    .home-4 .grid .left .top .home-4_text h3 {
      font-size: 24px; }
      .home-4 .grid .left .top .home-4_text h3:nth-child(3) {
        margin-top: 0; }
    .home-4 .grid .left .top .home-4_text p {
      font-size: 16px;
      line-height: 26px; }
  .home-4 .grid .left .bottom.home-4_image3 {
    min-height: 340px; }
  .home-4 .grid .left .bottom h3 {
    font-size: 24px; }
  .home-4 .grid .right .home-4_image2 {
    width: 100%;
    overflow: hidden; }
    .home-4 .grid .right .home-4_image2 img {
      min-height: 350px;
      min-width: 100%;
      width: auto; }
  .home-4 .grid .right .bottom {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .home-4 .grid .right .bottom .date {
      font-size: 14px; }
    .home-4 .grid .right .bottom h3 {
      font-size: 24px; }
    .home-4 .grid .right .bottom p {
      font-size: 16px;
      line-height: 26px; }
  .home-4 a h3 {
    font-size: 24px; }
  .header-home h1.h1-1.white {
    margin-left: 120px;
    font-size: 100px;
    line-height: 100px; }
  .header-home {
    min-height: 400px; } }

@media only screen and (max-width: 1024px) {
  .header-home {
    justify-content: center; }
    .header-home h1.h1-1.white {
      margin-left: 0;
      width: 740px;
      font-size: 90px;
      line-height: 90px; }
  .section2-home h2 {
    width: 740px;
    font-size: 34px; }
  .home-4 .grid h3 {
    padding: 0; }
  .home-4 .grid .right .bottom {
    padding-bottom: 50px; }
  .home-4 .grid .left .top .home-4_text {
    padding-bottom: 55px; }
    .home-4 .grid .left .top .home-4_text > p:last-child {
      margin-top: 25px; }
  .home-4 .grid .left .bottom .home-4_title {
    padding: 15px 70px; }
  .home4-hidden {
    display: none; }
  .home-4 a h3 {
    padding-top: 30px;
    padding-bottom: 36px; }
  .home-4 .arrow-media {
    margin-top: -5px; } }

@media only screen and (max-width: 767px) {
  .anime-wrapper {
    display: none; }
  .header-home h1.h1-1.white {
    font-size: 75px;
    line-height: 80px;
    width: calc(100% - 40px) !important;
    max-width: 680px; }
  .home .section2-home {
    background-color: #000;
    padding-top: 75px; }
    .home .section2-home h2 {
      color: white;
      width: calc(100% - 40px);
      font-size: 32px;
      line-height: 50px;
      text-align: left;
      margin-bottom: 0; }
    .home .section2-home .animation1-container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home .section2-home .animation1-container .animation1-wrapper {
        width: calc(100% - 40px); }
        .home .section2-home .animation1-container .animation1-wrapper .animation1-left {
          padding-top: 80px;
          width: 100%;
          transform: translateX(0); }
          .home .section2-home .animation1-container .animation1-wrapper .animation1-left hr {
            width: 100%;
            margin-bottom: 35px; }
        .home .section2-home .animation1-container .animation1-wrapper .animation1-right {
          width: 100%; }
          .home .section2-home .animation1-container .animation1-wrapper .animation1-right h3 {
            padding-left: 0;
            margin-bottom: 0; }
          .home .section2-home .animation1-container .animation1-wrapper .animation1-right hr {
            width: 100%;
            margin-bottom: 35px; }
          .home .section2-home .animation1-container .animation1-wrapper .animation1-right .achievements {
            padding-left: 0; }
  .home .animation2 {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px; }
    .home .animation2 > p {
      font-size: 20px;
      width: calc(100% - 40px);
      line-height: 36px;
      margin-bottom: 40px; }
      .home .animation2 > p:nth-child(2) {
        margin-bottom: 50px; }
  .home-4 a h3 {
    font-size: 20px;
    padding-right: 15px;
    padding-left: 20px; }
  .home-4 .grid {
    flex-direction: column-reverse; }
    .home-4 .grid h3 {
      line-height: 30px !important; }
    .home-4 .grid .right {
      width: 100%; }
      .home-4 .grid .right .home-4_image2 {
        display: none; }
      .home-4 .grid .right .bottom {
        background-color: #000;
        padding-left: 20px;
        padding-right: 20px; }
        .home-4 .grid .right .bottom h3 {
          color: white;
          font-size: 20px;
          max-width: 600px; }
        .home-4 .grid .right .bottom p {
          color: white;
          font-size: 14px;
          max-width: 600px;
          line-height: 24px; }
    .home-4 .grid .left {
      width: 100%; }
      .home-4 .grid .left .top .home-4_text {
        background-color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px; }
        .home-4 .grid .left .top .home-4_text .home4-hidden {
          display: block; }
        .home-4 .grid .left .top .home-4_text p {
          color: #2B2B2B;
          font-size: 14px;
          line-height: 24px;
          max-width: 600px; }
          .home-4 .grid .left .top .home-4_text p.date {
            font-size: 14px; }
        .home-4 .grid .left .top .home-4_text h3 {
          color: #2B2B2B;
          max-width: 600px;
          font-size: 20px; }
          .home-4 .grid .left .top .home-4_text h3 .home4-hidden {
            display: none; }
      .home-4 .grid .left .home-4_image3 {
        width: 100%;
        background-size: cover; }
        .home-4 .grid .left .home-4_image3 .home-4_title {
          padding-left: 20px; }
        .home-4 .grid .left .home-4_image3 h3 {
          font-size: 20px;
          line-height: 144%; } }

@media only screen and (max-width: 500px) {
  .header-home h1.h1-1.white {
    font-size: 52px;
    line-height: 60px;
    margin-top: 100px;
    width: calc(100% - 40px) !important; } }

@media only screen and (max-width: 359px) {
  .header-home h1.h1-1.white {
    font-size: 46px; }
  .home .animation2 > p {
    width: 300px;
    font-size: 18px; }
  .home .home-4 a h3 {
    font-size: 17px;
    padding-right: 10px; } }

/*# sourceMappingURL=home.css.map */
