.management-header {
  background-image: url(../images/management/bg-header.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  background-position: 50% 50%;
  min-height: 300px; }
  .management-header .menu-contact a svg {
    animation: arrow-right 3s infinite;
    animation-play-state: paused; }
  .management-header .menu-contact a:hover svg {
    animation-play-state: running; }
  .management-header .header-management-content {
    margin-left: 190px;
    padding-top: 100px;
    color: White;
    padding-bottom: 20px; }
    .management-header .header-management-content h1 {
      width: 950px;
      margin-bottom: 50px; }
    .management-header .header-management-content p {
      font-size: 22px;
      line-height: 35px;
      font-weight: 500;
      width: 460px; }

.management-main .seniors-head {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px; }
  .management-main .seniors-head h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    color: white;
    margin-bottom: 120px;
    padding-top: 150px; }
  .management-main .seniors-head .seniors-head-row {
    display: flex;
    margin-bottom: 120px; }
    .management-main .seniors-head .seniors-head-row .senior {
      position: relative; }
      .management-main .seniors-head .seniors-head-row .senior .social-senior {
        position: absolute;
        right: -40px;
        height: 100%;
        width: 45px;
        display: none !important; }
        .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper {
          background-color: #fff;
          width: 45px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transform: translateX(-45px);
          z-index: -1;
          transition: .3s; }
          .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper a:first-child {
            margin-bottom: 25px;
            margin-top: -50px; }
          .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper a svg path {
            transition: .2s; }
          .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper a:hover svg path {
            fill: #0080FF; }
      .management-main .seniors-head .seniors-head-row .senior:hover .social-wrapper {
        transform: translateX(0px); }
      .management-main .seniors-head .seniors-head-row .senior .image-senior {
        position: relative;
        z-index: 0; }
      .management-main .seniors-head .seniors-head-row .senior:not(:last-child) {
        margin-right: 150px; }
      .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text {
        position: relative; }
        .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text {
          background-color: #fff;
          color: #2B2B2B;
          margin-right: -40px;
          margin-left: 60px;
          margin-top: -55px;
          z-index: 5;
          padding: 22px 25px;
          padding-right: 20px;
          padding-bottom: 32px;
          width: 260px;
          height: 60px; }
          .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text h5 {
            font-size: 22px;
            line-height: 27px;
            font-weight: 500;
            margin-bottom: 10px; }
          .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text p {
            font-size: 19px;
            line-height: 24px;
            font-weight: 500;
            color: #A5A5A5; }
      .management-main .seniors-head .seniors-head-row .senior .image-senior img {
        width: 320px; }
  .management-main .seniors-head .senior-mobile-row {
    display: none; }

@media only screen and (max-width: 1400px) {
  .management-main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .management-main .seniors-head {
      align-self: stretch; }
      .management-main .seniors-head .seniors-head-row .senior {
        margin-right: 50px; }
        .management-main .seniors-head .seniors-head-row .senior .image-senior {
          width: 280px; }
          .management-main .seniors-head .seniors-head-row .senior .image-senior img {
            width: 280px; }
        .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text {
          width: 220px; }
          .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text p {
            font-size: 16px; }
          .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text h5 {
            font-size: 20px; } }

@media only screen and (max-width: 1280px) {
  .management-main .seniors-head h2 {
    font-size: 36px;
    padding-top: 100px;
    margin-bottom: 80px; }
  .management-main .seniors-head .seniors-head-row {
    justify-content: space-evenly;
    width: 100%; }
    .management-main .seniors-head .seniors-head-row .senior:not(:last-child) {
      margin-right: 0; }
    .management-main .seniors-head .seniors-head-row .senior .image-senior {
      width: 250px; }
      .management-main .seniors-head .seniors-head-row .senior .image-senior img {
        width: 250px; }
    .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text {
      width: 200px;
      padding-left: 15px;
      padding-right: 15px; }
      .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text p {
        font-size: 16px;
        line-height: 20px; }
      .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text h5 {
        font-size: 18px;
        line-height: 22px; }
  .management-main .seniors-head .seniors-head-row-woman {
    justify-content: center; }
    .management-main .seniors-head .seniors-head-row-woman .senior:first-child {
      margin-right: 100px; }
  .management-header .header-management-content {
    width: 700px; }
    .management-header .header-management-content h1 {
      margin-right: 0;
      width: 100%;
      line-height: 100px;
      font-size: 72px;
      line-height: 89px;
      margin-bottom: 30px; }
    .management-header .header-management-content p {
      font-size: 20px; } }

@media only screen and (max-width: 1024px) {
  .management-main .seniors-head h2 {
    padding-top: 60px;
    margin-bottom: 60px; }
  .management-main .seniors-head .seniors-head-row {
    margin-left: 0;
    margin-bottom: 60px; }
    .management-main .seniors-head .seniors-head-row .senior {
      margin-right: 0; }
      .management-main .seniors-head .seniors-head-row .senior .social-senior {
        right: 0px;
        z-index: 1; }
        .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper {
          transform: translateX(0);
          z-index: 2; }
          .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper a:first-child {
            margin-top: -70px; }
      .management-main .seniors-head .seniors-head-row .senior .image-senior {
        width: 220px; }
        .management-main .seniors-head .seniors-head-row .senior .image-senior img {
          width: 220px; }
      .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text {
        z-index: 2; }
        .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text {
          width: 220px;
          margin-left: 0;
          box-sizing: border-box;
          height: 110px;
          margin-top: -25px;
          padding-bottom: 20px;
          margin-right: 0; }
  .management-main .seniors-head .seniors-head-row-woman .senior:first-child {
    margin-right: 60px; }
  .management-header {
    justify-content: center; }
    .management-header .header-management-content {
      width: 500px;
      margin-left: -100px; }
      .management-header .header-management-content h1 {
        margin-right: 0;
        width: 100%;
        font-size: 68px;
        line-height: 85px;
        margin-bottom: 20px; }
      .management-header .header-management-content p {
        font-size: 16px;
        line-height: 28px; } }

@media only screen and (max-width: 767px) {
  .management-main .seniors-head .seniors-head-row {
    align-items: center;
    margin-bottom: 0;
    justify-content: center; }
    .management-main .seniors-head .seniors-head-row .senior {
      margin-bottom: 40px;
      width: 155px; }
      .management-main .seniors-head .seniors-head-row .senior .social-senior {
        right: -15px; }
        .management-main .seniors-head .seniors-head-row .senior .social-senior .social-wrapper {
          width: 30px; }
      .management-main .seniors-head .seniors-head-row .senior:first-child {
        margin-right: 10px; }
      .management-main .seniors-head .seniors-head-row .senior:nth-child(3) {
        margin-left: 10px; }
      .management-main .seniors-head .seniors-head-row .senior .image-senior {
        width: 155px; }
        .management-main .seniors-head .seniors-head-row .senior .image-senior img {
          width: 155px; }
      .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 155px;
        padding-left: 10px;
        padding-right: 10px;
        height: 80px; }
        .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text h5 {
          font-size: 14px;
          line-height: 17px; }
        .management-main .seniors-head .seniors-head-row .senior .wrapper-senior-text .senior_text p {
          font-size: 12px;
          line-height: 15px; }
    .management-main .seniors-head .seniors-head-row .senior-igor1 {
      display: none; }
    .management-main .seniors-head .seniors-head-row .senior-yair1 {
      display: none; }
    .management-main .seniors-head .seniors-head-row .senior-joe1 {
      display: none; }
    .management-main .seniors-head .seniors-head-row .senior-gil1 {
      display: none; }
  .management-main .seniors-head .senior-mobile-row {
    display: flex; }
  .management-main .seniors-head .seniors-head-row-woman {
    justify-content: center; }
    .management-main .seniors-head .seniors-head-row-woman .senior:first-child {
      margin-right: 10px; }
  .management-header {
    background-position: 60% 0%; }
    .management-header .header-management-content {
      margin-left: 0;
      width: 300px; }
      .management-header .header-management-content h1 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 10px; }
      .management-header .header-management-content p {
        width: 310px;
        font-size: 15px; }
  .management-main .seniors-head h2 {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px; } }

/*# sourceMappingURL=management.css.map */
